<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/testMSD/src/MSD.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="MSD"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="she&#13;&#10;sells&#13;&#10;seashells&#13;&#10;by&#13;&#10;the&#13;&#10;sea&#13;&#10;shore&#13;&#10;the&#13;&#10;shells&#13;&#10;she&#13;&#10;sells&#13;&#10;are&#13;&#10;surely&#13;&#10;seashells"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="testMSD"/>
</launchConfiguration>
